
services:
  postgres:
    image: postgres:16
    container_name: postgres_spring
    restart: always
    environment:
      POSTGRES_DB: test1
      POSTGRES_USER: test1
      POSTGRES_PASSWORD: test1
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
