services:
  postgres:
    image: postgres:16
    container_name: postgres_spring
    restart: always
    environment:
      POSTGRES_DB: test1
      POSTGRES_USER: test1
      POSTGRES_PASSWORD: test1
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7.2
    container_name: redis_spring
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
